<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dormimanager.Mapper.ComplainMapper">
    <select id="selectAllOrderByRegDateDesc" resultType="com.project.dormimanager.DTO.Complain">
        SELECT
        n.complain_id AS id,
        n.student_id AS studentId,
        n.category,
        n.title,
        n.send_date AS regDate,
        n.state,
        n.publics,
        m.name AS name
        FROM COMPLAIN n
        LEFT JOIN MEMBER m ON n.student_id = m.student_id
        ORDER BY n.send_date DESC
    </select>

    <select id="findById" resultType="com.project.dormimanager.DTO.Complain">
        SELECT
        n.complain_id AS id,
        n.student_id AS studentId,
        n.category,
        n.title,
        n.send_date AS regDate,
        n.content,
        n.state,
        n.publics,
        m.name AS name
        FROM COMPLAIN n
        LEFT JOIN MEMBER m ON n.student_id = m.student_id
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.project.dormimanager.DTO.Complain">
        UPDATE complain
        SET
        title = #{title},
        category = #{category},
        content = #{content}
        WHERE complain_id = #{id}
    </update>

    <insert id="insert" parameterType="com.project.dormimanager.DTO.Complain">
        INSERT INTO complain (title, category, content, send_date, student_id, publics, state)
        VALUES (#{title}, #{category}, #{content}, SYSDATE,  #{studentId}, #{publics}, 'N')
    </insert>

</mapper>

